<div class="sample-container">
    <math-cosine-similarity></math-cosine-similarity>
</div>

<div id="matrices">
    <div id="matrix" class="sample-container">
        <div id="times">
            <div mathJax [math]="'AA^T'"></div>
        </div>
        <math-matrix id="m1" [params]="m1"></math-matrix>
        <math-matrix id="m2" [params]="m2"></math-matrix>
        <math-matrix id="m2" [params]="m3"></math-matrix>
    </div>

    <div id="matrix" class="sample-container">
        <div id="times">
            <div mathJax [math]="'A^TA'"></div>
        </div>
        <math-matrix id="m2" [params]="m2"></math-matrix>
        <math-matrix id="m1" [params]="m1"></math-matrix>
        <math-matrix id="m2" [params]="m4"></math-matrix>
    </div>
</div>