.matrix {
    border: 1px solid #aaaaaa;
    display: inline-block;
    background-color: currentColor;
}

.row {
    display: flex;
}

.cell {
    width: 18px;
    height: 18px;
    border: 1px solid #aaaaaa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label {
    color: #777;
}